a:hover {
    text-decoration: none !important;
}

.home__buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.category-button {
    padding: 1rem;
    width: 300px;
}

.rule-button {
    padding: 1rem 4rem;
    margin-left: 1rem;
    color: #fff;
}

.rule-button:hover {
    color: #fff;
}

.warning-triangle {
    height: 42px;
    width: 42px;
    position: absolute;
    right: 8px;
}

.app-button {
    padding: 1rem;
    width: 100%;
}

.selection-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}